.tweetInfo {
  position: relative;
  border-left: 1px solid rgba(92, 92, 92, 0.1);
  border-right: 1px solid rgba(92, 92, 92, 0.1);
}

.tweetInfoUser {
  display: flex;
  flex-direction: column;
}

.tweetInfoBack {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.tweetInfoBack a {
  padding: 0.8rem 0.9rem;
  border-radius: 9999px;
  transition: all 0.2s;
}

.tweetInfoBack a:hover {
  cursor: pointer;
  background-color: var(--fine-line);
}

.tweetInfoUserContent {
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
}

.tweetInfoUserContentImg {
  width: 2.5rem;
  height: 2.5rem;
}

.tweetInfoUserContentImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9999px;
}

.tweetInfoUserContentProfile {
  display: flex;
  gap: 1.5rem;
}

.tweetInfoName {
  font-weight: bold;
}

.tweetInfoName:hover {
  text-decoration: underline;
}

.tweetInfoUserName {
  color: var(--light-color-text);
}

.tweetInfoContentText {
  margin-top: 1rem;
  padding: 1rem 0rem;
  color: rgb(69, 69, 69);
  line-height: 1.4rem;
  letter-spacing: 0.5px;
}

.tweetInfoContentTime {
  display: flex;
  gap: 0.6rem;
}

.tweetInfoUserTweetTime {
  color: var(--light-color-text);
}

.tweetInfoContentTime span {
  display: flex;
  gap: 0.4rem;
}

.view {
  color: var(--light-color-text);
}

.tweetInfoOpertions {
  display: flex;
  align-items: center;
  color: var(--light-color-text);
  justify-content: space-between;
  margin-top: 1.5rem;
  padding: 0.4rem 0rem;
  border-top: 1px solid rgba(92, 92, 92, 0.1);
  border-bottom: 1px solid rgba(92, 92, 92, 0.1);
}

.tweetInfoOpertion {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tweetInfoOpertion:hover {
  cursor: pointer;
  background-color: aquamarine;
}

.tweetInfoOpertion svg {
  font-size: 1.5rem;
}
.tweetInfoOperationCount {
  font-size: 0.8rem;
}

.tweetOperationComment {
  font-size: 6rem;
}

.tweetMedia {
  width: 60%;
  height: auto;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}
