.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.507);
  /* backdrop-filter: blur(4px);   */
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBody {
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  min-width: 50%;
}

.modalBody span svg {
  font-size: 1.4rem;
  transition: all 0.1s;
}

.modalBody span:hover svg {
  cursor: pointer;
  background-color: var(--fine-line);
}
