.changePassword {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.accountInfoBack {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.accountInfoBack svg {
  font-size: 1.3rem;
}

.accountInfoBack svg:hover {
  cursor: pointer;
}

.accountInfoBack p {
  font-size: 1.2rem;
}

.border {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.border span {
  border-top: 1px solid var(--fine-line);
}

.changePasswordConfirm {
  width: 30%;
  align-self: flex-end;
}
