.tweet {
  display: grid;
  grid-template-columns: 2rem 1fr;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--fine-line);
}

.tweetImg {
  width: 100%;
  border-radius: 50%;
}

/* .tweetInput {
  border: none;
  outline: none;
  font-size: 1.3rem;
  margin-bottom: 2%;
  max-width: 10rem;
  line-clamp: 5;
  /* line-break: strict; */
/* }  */

.tweetInput {
  font-family: inherit;
  border: none;
  outline: none;
  color: inherit;
  font-size: 1.3rem;
  line-height: 2rem;
  height: min-content;
  /* background-color: blue; */
}

.tweetButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweetButtonContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.tweetButtonContainer div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tweetButtonContainer button {
  padding: 0.8rem 2rem;
}

.tweetButtonContainer button:disabled {
  cursor: not-allowed;
  background-color: grey;
}

.detailsBtn {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  font-size: 1.3rem;
  color: var(--primary-color);
}

.detailsBtn svg:hover {
  cursor: pointer;
}
