.tweet {
  /* display: grid;
  grid-template-columns: 2rem 1fr; */
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  padding: 1rem;
  border: 1px solid var(--fine-line);
}

.tweetTextArea {
  display: flex;
  gap: 1rem;
}

.tweetImg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.tweetPrevImage {
  position: relative;
  width: 80%;
  align-self: center;
  padding: 2rem 0rem;
  border-radius: 1rem;
}

.tweetPrevImage span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3rem;
  right: 1rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.396);
  border-radius: 9999px;
}
.tweetPrevImage span:hover {
  cursor: pointer;
}

.tweetPrevImage span svg {
  width: 1rem;
  height: 1rem;

  color: white;
}

.tweetPrevImage img {
  width: 100%;
  border-radius: inherit;
}

/* .tweetInput {
  border: none;
  outline: none;
  font-size: 1.3rem;
  margin-bottom: 2%;
  max-width: 10rem;
  line-clamp: 5;
  /* line-break: strict; */
/* }  */

.tweetInput {
  font-family: inherit;
  border: none;
  outline: none;
  color: inherit;
  font-size: 1.3rem;
  line-height: 2rem;
  height: min-content;
  width: 100%;
  /* background-color: blue; */
}

.tweetButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweetButtonContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.tweetButtonContainer div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tweetButtonContainer button {
  padding: 0.8rem 2rem;
}

.tweetButtonContainer button:disabled {
  cursor: not-allowed;
  background-color: grey;
}

.detailsBtn {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  font-size: 1.3rem;
  color: var(--primary-color);
}

.detailsBtn svg:hover {
  cursor: pointer;
}
