.tweet {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  column-gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--fine-line);
}

.tweet:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.tweetImgContainer {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  /* width: 100%; */
}

.tweetImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.tweetContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tweetContainerUser {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.tweetOperations {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .tweetComment:hover {
  background-color: 1d9bf0;
}

.tweetRetweet:hover {
  background-color: #2ecc71;
} */

.tweetName {
  font-weight: bold;
  font-size: 1.2rem;
}

.tweetUsername {
  font-size: 1rem;
  color: var(--light-color-text);
}
.tweetTime {
  color: var(--light-color-text);
}

.tweetContent {
  font-size: 1.1rem;
}
