.explore {
  padding: 1rem;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1rem;
}

.exploreInput {
  display: flex;
  align-items: center;
  position: relative;
}

.exploreInputInput {
  background-color: var(--hover-color);
  border: none;
  outline: none;
  padding: 0.8rem 3rem;
  font-size: 1.2rem;
  border-radius: 9999px;
}

.exploreInput svg {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4rem;
  /* margin-left: -3rem; */
}
