.homeFooter {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  list-style: none;
}

.list li a {
  font-size: 0.9rem;
}
