@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600&display=swap");

:root {
  --primary-color: #1d9bf0;
  --primary-color-hover: #178ddc;
  --border: 1px solid rgba(101, 101, 101, 0.244);
  --fine-line: rgba(212, 212, 212, 0.244);
  --white-hover: #f4f4f4;
  --invalid: #e74c3c;
  --valid: #2ecc71;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
  background: #ff0000;
} */

body {
  position: relative;
}

.heading {
  font-family: "Kanit", sans-serif;
}

.wrongInput {
  border: 1px solid var(--invalid);
}

.validInput {
  border: 1px solid var(--valid);
}
